@charset "UTF-8";
/*
    em HTML é id = em CSS é #
    em HTML é classs = em CSS é .
*/

body{
    background-color: rgb(78, 190, 241);
    font-family: Arial, Helvetica, sans-serif;
}

h1{
    color: rgb(10, 24, 31);;
}

h1#principal{
    text-align: center;
    color: rgb(255, 255, 255);
    background-color: rgb(0, 0, 0);
}

h2{
    color: rgb(10, 58, 80);
}

.basico{
    color: rgb(41, 177, 41);
}

.intermediario{
    color: rgb(157, 177, 41);;
}

.avancado{
    color: rgb(177, 41, 41);;

}

.destaque{
    background-color: rgba(165, 165, 0, 0.568);
}
